@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


/*.clip:before {*/
/*  content: '';*/
/*  height: 100%;*/
/*  width: 100%;*/
/*  background: #00c000;*/
/*  display: block;*/
/*  position: absolute;*/
/*  top: 1px;*/
/*  left: 1px;*/
/*  z-index: -1;*/
/*}*/
/*.clip, .clip:before {*/
/*  -webkit-clip-path: polygon(100% 0, 100% 100%, 8% 100%, 0 88%, 0 0);*/
/*  clip-path: polygon(100% 0, 100% 100%, 8% 100%, 0 88%, 0 0);*/
/*}*/

@font-face {
  font-family: 'Consolas';
  src: url('/fonts/consola.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
          to bottom,
          transparent,
          rgb(var(--background-end-rgb))
  )
  rgb(var(--background-start-rgb));
  font-family: 'Consolas', monospace; /* Apply Consolas font globally */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
